@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --green: #A2E9C1;
    --otherMessage: #f4f4f5ff;
    --mainMessage: #ffff;  
    --background: #d4d4d8;
    --black: #2c2c2c;
    --secondary: #f4f4f5;
    --backgroundChat: #e4e4e7;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: grotesk;
  src: url(../public/font/OverusedGrotesk-Medium.woff);
}

*{
  font-family: grotesk;
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1000;
}

