.chatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e8e8e8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: relative;
}

.chatMessages {
    width: 50%;
    flex: 1;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 5rem;
}

.inputContainer {
    display: flex;
    gap: 10px;
    width: 50%;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
}

.message {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #f700ff;
    border-radius: 4px;
}

.messageSelf {
    padding: 5px;
    margin-bottom: 20px;
    background-color: #ff6e1a;
    border-radius: 4px;
    text-align: right;
}