.chatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background);
    border-radius: 15px;
    height: 100vh;
    position: relative;
}

.chatMessages {
    width: 50%;
    flex: 1;
    overflow-y: auto;
    background-color: var(--chatBackground);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5rem;
}

.inputContainer {
    display: flex;
    gap: 10px;
    width: 50%;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
}

.message {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
}

.messageSelf {
    padding: 5px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: right;
}